<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Info</title>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-4">
        <div>
            <a href="/admin/tables/general" class="btn btn-dark btn-sm">Users, Roles, Tracks etc</a>
            <a href="/admin/tables/logs" class="btn btn-dark btn-sm">Logs</a>
        </div>
    </div>
</div>
</body>
</html>