<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body>
<div class="container text-center">
  <div>
    <h1>Create Playlist</h1>
  </div>

  <form action="/you/create/playlist"
        method="post" style="max-width: 600px; margin: 0 auto;" enctype="multipart/form-data">
    <div class="m-3">
      <div class="form-group row">
        <label class="col-4 col-form-label">Name of playlist: </label>
        <div class="col-8">
          <input type="text" name="name" autocomplete="off" class="form-control"
                 required minlength="2" maxlength="55" />
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>