<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Song</title>
</head>
<style>
    body {
        text-align: center;
        font-family: cursive;
        font-style: normal;
        background-color: #161719;
        text-decoration: none;
    }
</style>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="nameSong" placeholder="Enter name song">

    <label for="photo">Select avatar for song:</label>
    <input type="file" id="photo" name="avatarSong" autocomplete="off" accept=".jpg, .jpeg, .png, .gif" />
    <label for="song">Select song:</label>
    <input type="file" id="song" name="song" autocomplete="off" accept=".mp3, .wav, .ogg" />

    <input type="submit">
</form>
<h2 th:text="${message}"></h2>
<a href="/">Main page</a>
</body>
</html>